---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const isNotFound = Astro.url.pathname === "/404/";
const canonicalURL = isNotFound
  ? null
  : new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<Font cssVariable="--font-noto-sans-jp" preload />
<Font cssVariable="--font-noto-sans-mono" preload />
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<ClientRouter />

{canonicalURL && <link rel="canonical" href={canonicalURL} />}

<title>{title}</title>
<meta name="description" content={description} />
