---
import Logo from "../assets/logo.svg";
---

<header
  transition:persist
  class="bg-background/80 border-primary fixed top-0 right-0 left-0 z-10 flex h-16 items-center border-b px-4 backdrop-blur"
>
  <a href="/" data-astro-reload aria-label="ホーム" class="block">
    <Logo class="block h-6 w-auto" />
  </a>
</header>
