---
import HeaderLogo from "./HeaderLogo.astro";
---

<header
  class="bg-white flex p-4 border-b border-gray-200 h-16 items-center fixed top-0 left-0 right-0 z-10"
>
  <a href="/" class="block ml-4">
    <HeaderLogo />
  </a>
</header>
